<!-- product -->
<section id="products" class="products">
  <div class="section-title">
    <h2>our products</h2>
  </div>
  <div class="products-center">
    <!-- single product -->
    <article class="product">
      <div class="img-container">
        <img
          src="https://images.ctfassets.net/t4hp53d3asql/60jytsEtPNOG0SsvGAdPqp/399c0ade10f31c2bdfa1c76c55aaf65f/product5.png"
          alt="prudct1"
          class="product-img"
        />
        <button class="bag-btn">
          <i class="fas fa-shopping-cart"></i>add to cart
        </button>
      </div>
      <h3>Lettuce</h3>
      <h4>$12.99</h4>
    </article>
    <article class="product">
      <div class="img-container">
        <img
          src="https://images.ctfassets.net/t4hp53d3asql/60jytsEtPNOG0SsvGAdPqp/399c0ade10f31c2bdfa1c76c55aaf65f/product5.png"
          alt="prudct1"
          class="product-img"
        />
        <button class="bag-btn">
          <i class="fas fa-shopping-cart"></i>add to cart
        </button>
      </div>
      <h3>Lettuce</h3>
      <h4>$12.99</h4>
    </article>
    <article class="product">
      <div class="img-container">
        <img
          src="https://images.ctfassets.net/t4hp53d3asql/60jytsEtPNOG0SsvGAdPqp/399c0ade10f31c2bdfa1c76c55aaf65f/product5.png"
          alt="prudct1"
          class="product-img"
        />
        <button class="bag-btn">
          <i class="fas fa-shopping-cart"></i>add to cart
        </button>
      </div>
      <h3>Lettuce</h3>
      <h4>$12.99</h4>
    </article>
    <article class="product">
      <div class="img-container">
        <img
          src="https://images.ctfassets.net/t4hp53d3asql/60jytsEtPNOG0SsvGAdPqp/399c0ade10f31c2bdfa1c76c55aaf65f/product5.png"
          alt="prudct1"
          class="product-img"
        />
        <button class="bag-btn">
          <i class="fas fa-shopping-cart"></i>add to cart
        </button>
      </div>
      <h3>Lettuce</h3>
      <h4>$12.99</h4>
    </article>
    <!-- end of single product -->
  </div>
</section>
<!-- end of product -->
