<section class="single-product-page">
  <div class="product-container">
    <div class="product-image-container">
      <img src="{{ product.image }}" alt="" />
    </div>
    <div class="product-details">
      <h1>{{ product.name }}</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus! Consequuntur alias fugiat adipisci et nesciunt quo aspernatur
        quos, minima eius totam quas recusandae iste, odio consequatur deleniti
        dolorum officia.
      </p>
      <div class="price">${{ product.price / 100 }}</div>
      <button>Add to cart</button>
    </div>
  </div>
</section>
